*{    
    box-sizing:border-box;
}
/* body{
    background:black; 
} */
.container{
    background:linear-gradient(hsl(240, 96%, 9%), grey);
}
.topContainer{
    background-image:url(icon.png);
    background-size:80px;
    background-repeat:no-repeat;
    position:relative;
    background-position: top 0px left 475px;
}

.body{
    margin:0;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    --primary:white;
    --secondary: #3163b4;
    display:block;
    min-width: 600px;
    text-align:left;
    background:linear-gradient(hsl(240, 96%, 9%), grey);
    font-variant:small-caps;
    border-radius:15px;
    color:antiquewhite;
    border: 1px solid white;
}
#title{
    text-shadow: 2px 2px rgb(63, 64, 66);
    letter-spacing:.3em;
    font-size:38px;
    color:rgba(255, 255, 255, 0.842);
}
#subTitle{
    margin-top: -20px;
    margin-left:5px;
    color:rgba(255, 255, 255, 0.842);
    padding-bottom:25px;
    font-size:14px;
    letter-spacing:.1em;
    text-shadow: 1px 1px rgb(34, 34, 34);
}
input{
    outline:1px solid var(--primary);
    width:450px;
    padding:10px;
    margin-bottom:10px;
    border-radius:15px;
    box-shadow: 3px 3px #333;
    text-decoration: underline;
}

button{
    background:linear-gradient(hsl(240, 96%, 9%), grey);
    color: var(--primary);
    margin-top:5px;
    margin-right: 25px;
    border: 1px solid var(--primary);
    padding:10px 20px;
    border-radius:15px;
    letter-spacing:.2em;
    box-shadow: 3px 3px #333;
    font-weight:bold;
    cursor: pointer;
}
button:hover{
    position:relative;
    top:1px;
}
a:hover{
    position:relative;
    bottom:1px;
    color:pink;
    border-left:1px solid pink;
    border-right:1px solid pink;  
}

#openTab{
    padding:5px;;
    margin:0;
    font-size:12px;
    font-variant:small-caps;
}
#clear-btn{
    background:linear-gradient(hsl(240, 96%, 9%), grey); 
    color:rgba(206, 200, 219, 0.986);
    text-shadow: 1px 1px rgba(16, 19, 54, 0.986);
    border: 1px solid white;
    outline: 1px solid red;
    margin-top:5px;
}
#clear-btn:hover{
    cursor:grabbing;
}

#btnInfo{
    position:relative;
    font-size:12px;
    color:rgba(255, 255, 255, 0.582);
    left:346px;
    text-shadow: 1px 1px #333;
    margin-top:5px;
}

li a{
  color:var(--primary);
  font-variant:normal;
  text-decoration: none;
  font-size:14px;
  font-weight:100;
  letter-spacing:.1em;
  text-shadow: 1px 1px #333;
}
ul li{
  list-style-type: decimal;
  padding-left:5px;
  padding-top:10px;
}
ul{
    padding-left:15px;
    margin-right:0;
    margin-top:10px;
}
.footer{
    text-align:right;
}
#footer{
    font-size:10px;
    letter-spacing:.2em;
    border-radius:5px;
    display:inline-flex;
    justify-content:end;
    margin-bottom: -20px;
    color:white;
}